<div class="position-relative">
    <!-- shape Hero -->
    <div class="header bg-gradient-primary pb-6 pt-3 pt-md-6 text-center text-white">
      <div class="container-fluid">
        <div class="header-body">
          <!-- Card stats -->
          <h1 class="display-3 text-white">Les invincibles</h1>
        </div>
      </div>
    </div>

<div class="team-section ">
    <div class="gr">
      <h1 class="text-center mt-3 mb-5"> </h1>
      <div class="wrapper">
          <div class="profile bg-gradient-primary">
              <img src="./assets/img/theme/team-1-800x800.jpg" alt="" class="pro_img">
              <div class="dtl">
                  <h1 class="name">Your Name</h1>
                  <h3 class="bio">Software engineer</h3>
              </div>
          </div>
          <div class="profile bg-gradient-primary">
              <img src="./assets/img/theme/team-1-800x800.jpg" alt="" class="pro_img">
              <div class="dtl">
                  <h1 class="name">Your Name</h1>
                  <h3 class="bio">Software engineer</h3>
              </div>
          </div>
          <div class="profile bg-gradient-primary">
              <img src="./assets/img/theme/team-1-800x800.jpg" alt="" class="pro_img">
              <div class="dtl">
                  <h1 class="name">Your Name</h1>
                  <h3 class="bio">Software engineer</h3>
              </div>
          </div>
        </div>

      <div class="wrapper">
          <div class="profile bg-gradient-primary">
              <img src="./assets/img/theme/team-1-800x800.jpg" alt="" class="pro_img">
              <div class="dtl">
                  <h1 class="name">Your Name</h1>
                  <h3 class="bio">Software engineer</h3>
              </div>
          </div>
          <div class="profile bg-gradient-primary">
              <img src="./assets/img/theme/team-1-800x800.jpg" alt="" class="pro_img">
              <div class="dtl">
                  <h1 class="name">Your Name</h1>
                  <h3 class="bio">Software engineer<br> client</h3>
              </div>
          </div>
          <div class="profile bg-gradient-primary">
              <img src="./assets/img/theme/team-1-800x800.jpg" alt="" class="pro_img">
              <div class="dtl">
                  <h1 class="name">Your Name</h1>
                  <h3 class="bio">Software engineer</h3>
              </div>
          </div>
      </div>