


<main>
  <div class="position-relative">
    <!-- shape Hero -->
    <div class="header bg-gradient-danger pb-8 pt-5 pt-md-8 text-center text-white">
      <div class="container-fluid">
        <div class="header-body">
          <!-- Card stats -->
          <h1 class="display-3  text-white">Liste des Étudiants</h1>
        </div>
      </div>
    </div>

   <!-- Etudiants List -->
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Nom d'Étudiant</th>
              <th scope="col">Prénom d'Étudiant</th>
              <th scope="col">École d'Étudiant</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let etudiant of e">
              <td>{{ etudiant.nomEt }}</td>
              <td>{{ etudiant.prenomEt }}</td>
              <td>{{ etudiant.ecole }}</td>
              <td>
                <button (click)="removeEtudiant(etudiant.idEtudiant)" class="btn btn-danger">Supprimer</button>
                <button (click)="navigateToUpdateForm(etudiant.idEtudiant)" class="btn btn-primary">Modifier</button>
              </td>
            </tr>
          </tbody>
        </table>
        <button (click)="navigateToEtudiantForm()" class="btn btn-primary">Ajouter un étudiant</button>
       
      </div>
    </div>
  </div>
  <!-- Filter Section -->
<div class="row mt-4">
  <div class="col-lg-6 mb-3">
    <div class="input-group">
      <label for="filterIdEtudiant" class="form-label sr-only">Filtrer par ID Étudiant:</label>
      <input type="number" class="form-control" id="filterIdEtudiant" placeholder="ID Étudiant" [(ngModel)]="filterId">
    </div>
  </div>
  <div class="col-lg-6 mb-3">
    <!-- Toggle between "Filtrer" and "Arrêter le filtre" based on the isFiltered property -->
    <button *ngIf="!isFiltered" (click)="filterEtudiants()" class="btn btn-primary">Filtrer</button>
    <button *ngIf="isFiltered" (click)="clearFilter()" class="btn btn-warning">Arrêter le filtre</button>
  </div>
</div>



